<div class="container pageCV">
  <div id="projetMedia">
    <div class="blocGaucheProjet">
        <iframe id="video" src="https://www.youtube.com/embed/slt6l1AGbBE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="blocDroitProjet">
      <p> {{projets.filmMedia}}</p>
    </div>
  </div>
  <div id="projetSite">
    <div class="blocGaucheProjet">
      <img id="imageSite" src="images/site.jpg">
    </div>
    <div class="blocDroitProjet">
      <p>{{projets.siteJS}}</p>
    </div>
  </div>
</div>
